{% extends 'index.html' %}
<style>
    th {
    text-align: left;
    padding-left: 3em;
}
td{
    padding-left: 3em;
}
</style>
{% block content %}
    {% parent %}
<div class="w3-container w3-card-4" style="margin-left:0%">
    <div class="w3-container w3-card-4 w3-black">
        <h1>Job Description </h1>
    </div>
<br>
<table style="margin-left:2em;">
    <tr>
        <th>job_id</th>
        <th>job_title</th>
        <th>min_salary</th>
        <th>max_salary</th>
    </tr>
    {% for x in jobs %}
        <tr>
            <td>{{x.job_id}}</td>
            <td>{{x.job_title}}</td>
            <td>{{x.min_salary}}</td>
            <td>{{x.max_salary}}</td>
        </tr>
    {% endfor %}
</table>
<br>

    <form method="post" action="/updateJob">
        <table width="700" align="left" border="0" cellspacing="1" cellpadding="2">
            <tr>
                <th width="220", align="right">Where job ID =</th>
                <td><input name="job_id" type="text" id="job_id"></td>
            </tr>
            <tr>
                <th align="right">job title =</th>
                <td><input name="job_title" type="text" id="job_title"></td>
            </tr>
            <tr>
                <th align="right">min salary =</th>
                <td><input name="min_salary" type="text" id="min_salary"></td>
            </tr>
            <tr>
                <th align="right">max salary =</th>
                <td><input name="max_salary" type="text" id="max_salary"></td>
            </tr>
            <tr>
                <td width="100"> </td>
                <td>
                    <input name="getjob" type="submit" id="getjob" value="Finalize Changes">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
