{% extends 'index.html' %}

{% block content %}
    {% parent %}

<div class="w3-container w3-card-4" style="margin-left:0%">
    <div class="w3-container w3-card-4 w3-black">
        <h1>Employee Hiring Form</h1>
    </div>

    <form action="/addJob" id="create" method="post">
            <br>
            <label>Job ID</label>
            <label>
                <input class="w3-input w3-border w3-round" type="text" name="job_id" id="job_id">
            </label>
            <label>Job Title</label>
            <label>
                <input class="w3-input w3-border w3-round" type="text" name="job_title" id="job_title">
            </label>
            <label>Minimum Salary</label>
            <label>
                <input class="w3-input w3-border w3-round" type="text" name="min_salary" id="min_salary">
            </label>
            <br>
            <label>Max Salary</label>
            <label>
                <input class="w3-input w3-border w3-round" type="text" name="max_salary" id="max_salary">
            </label>
            
            <br>

        <br><br>
	  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" name="submit" value="Create New Job"> 	

        <br><br>
    </form>


</div>
{% endblock %}