{% extends 'index.html' %}

{% block content %}
    {% parent %}

    <style>
        .active, .btn:hover {
            background-color: #4227d8;
            color: white;
        }
    </style>

<form action="/getJobTitle" id="job_desc_form" method="get">
    <div class="w3-container w3-card-4" style="margin-left:0%">
        <div class="w3-container w3-card-4 w3-black">
            <h1>Identify Job Description</h1>
        </div>

        <br><br>

        <label for='job_id'>Select Job ID:</label>
        <select name='job_id'>
            {% for x in jobs %}
            <option value="{{x.job_id}}">{{x.job_id}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="submit" value="Submit">

    <br><br><br><br>
    </div>
</form>
<div class="w3-container w3-card-4" style="margin-left:0%; margin-top:2%;" id="resultDiv">{{job_desc}}</div>

{% endblock %}
