{% extends 'index.html' %}
<style>
    th {
    text-align: left;
    padding-left: 0.8em;
}
td{
    padding-left: 0.8em;
}
</style>
{% block content %}
    {% parent %}
<div class="w3-container w3-card-4" style="margin-left:0%">
    <div class="w3-container w3-card-4 w3-black">
        <h1>List or Update an Employee Record </h1>
    </div>
    <table style="margin-left:2em;">
        <tr>
            <th>Employee_id</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
            <th>phone_numeric</th>
            <th>hire_date</th>
            <th>job_id</th>
            <th>salary</th>
            <th>manager_id</th>
            <th>department_id</th>
        </tr>
        {% for x in employees %}
            <tr>
                <td>{{x.employee_id}}</td>
                <td>{{x.first_name}}</td>
                <td>{{x.last_name}}</td>
                <td>{{x.email}}</td>
                <td>{{x.phone_NUMERIC}}</td>
                <td>{{x.hire_date}}</td>
                <td>{{x.job_id}}</td>
                <td>{{x.salary}}</td>
                <td>{{x.manager_id}}</td>
                <td>{{x.department_id}}</td>
            </tr>
        {% endfor %}
    </table>
<br>
    
    <form method="post" action="/updateEmployee">
        <table width="700" align="left" border="0" cellspacing="1" cellpadding="2">
            <tr>
                <th width="220", align="right">Where Employee ID =</th>
                <td><input name="employee_id" type="text" id="employee_id"></td>
            </tr>
            <tr>
                <th align="right">Update</th>
            </tr>
            <tr>
                <th align="right">Salary =</th>
                <td><input name="salary" type="text" id="salary"></td>
            </tr>
            <tr>
                <th align="right">Phone Number =</th>
                <td><input name="phone_NUMERIC" type="text" id="phone_NUMERIC"></td>
            </tr>
            <tr>
                <th align="right">Email =</th>
                <td><input name="email" type="text" id="email"></td>
            </tr>
            <tr>
                <td width="100"> </td>
                <td>
                    <input name="update2" type="submit" id="update2" value="Update">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
